@import '_variables';
@import '_mixins';

body {
  background-color: $dashboard-background-color;
  color: $font-color;
  font-family: $font-stack;
}

.page-header {
  letter-spacing: 1px;
  text-align: center;
  border-bottom: none;
  padding-bottom: 5px;
  margin: 40px 0 0;

  h4 {
    font-weight: 600;
  }

  .glyphicon {
    vertical-align: text-top;
    margin-right: 10px;
  }
}

.feedbackDashboard {

  .dashboardBlock {
    padding: 25px 10px;
    margin-bottom: 30px;
    background-color: $block-background-color;
    box-shadow: 0px 2px 5px -2px rgba(112, 111, 112, 0.9);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .showMoreCharts {
    width: 150px;
    color: #A6A6A7;
    cursor: pointer;
    margin-left: 15px;
  }
}

@include breakpoint(767px) {
  .feedbackDashboard {
    .showMoreCharts {
        margin-left: 25px;
    }
  }
}
