.loader {
  width: 10em;
  height: 10em;
  margin: 70px auto;
  font-size: 10px;
  border-radius: 50%;
  border-top: 1.1em solid rgba(107,107,107, 0.2);
  border-right: 1.1em solid rgba(107,107,107, 0.2);
  border-bottom: 1.1em solid rgba(107,107,107, 0.2);
  border-left: 1.1em solid #6b6b6b;
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
