@import '_variables';
@import '_mixins';

.ratingsCounter {
  padding: 0 70px 0 20px;

  .numberCircle {
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    background-color: $primary-color;
    margin-right: 7px;
  }

  .table {
    thead {
      color: #C1C1C1;
    }
    th {
      border-bottom: none;
      font-weight: normal;
    }
    td {
      border-color: #EFEFEF;
    }
    .itemsHeader {
      text-align: right;
    }
    .counterDetails {
      .count {
        text-align: right;
      }
    }
  }

}

@include breakpoint(1023px) {
  .ratingsCounter {
      padding: 0;
  }
}
