@import '_variables';
@import '_mixins';

.reviewFilters {
  .buttonFilter {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 11px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    background-color: $primary-color;
    margin-right: 7px;

    &:hover {
      background-color: #0097BA;
    }

    &.disabled {
      color: #DEDEDE;
      background-color: $dashboard-background-color;
      border: 1px solid #DEDEDE;
    }
  }
}

@include breakpoint(767px) {
  .reviewFilters {
      margin: 20px 0 20px 10px;
  }
}








