@import '_variables';
@import '_mixins';

.reviewList {
  .filters {
    margin-bottom: 25px;
    margin-top: 20px;
  }
  .device {
    text-transform: capitalize;
  }
  .reviews {
    margin-top: 30px;

    thead {
      color: #FFFFFF;
      background-color: #6B6B6B;

      th {
        font-weight: normal;
        height: 50px;
        padding: 20px 40px;

        &:first-child {
          border-radius: 5px 0 0 0;
        }
        &:last-child {
          border-radius: 0 5px 0 0;
        }
      }
    }
    td {
      vertical-align: middle;
      padding: 15px 40px;
      border-color: #EFEFEF;
    }
    .comment {
      width: 57%;
    }
    .browser {
      text-align: center;
    }
    .rating {
      .numberCircle {
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 50%;
        color: #FFF;
        text-align: center;
        background-color: $primary-color;
        margin-right: 7px;
      }
    }
  }
}

@include breakpoint(767px) {
  .reviewList {
    .dashboardBlock {
      padding: 0;
    }
    .filters {
      margin-bottom: 0;
      margin-top: 0;
    }
    .searchBox {
      margin: 10px;
    }
    table, thead, tbody, th, td, tr {
      display: block;
    }
    .reviews {
      margin-top: 0;
      .browser {
        text-align: left;
      }
      .comment {
        width: 100%;
      }
    }
  }
}
