<div class="page-header">
  <h4><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>Dashboard</h4>
</div>

<div class="loader" ng-if="!reviews"></div>

<div class="feedbackDashboard row" ng-cloak ng-if="reviews">
  <div class="row dashboardBlock">
    <ratings-counter class="col-xs-12 col-sm-4" data-reviews="::reviews"></ratings-counter>
    <average-rating-chart class="col-xs-12 col-sm-8" data-reviews="::reviews"></average-rating-chart>
  </div>

  <div class="showMoreCharts" ng-click="showExtraCharts()" ng-if="!extraCharts">View more charts!
    <span class="label label-info">new</span>
  </div>
  <div class="extraCharts row dashboardBlock" ng-if="extraCharts">
    <counter-chart class="col-xs-12 col-sm-6" data-reviews="::reviews" data-property="computed_browser.Browser"></counter-chart>
    <counter-chart class="col-xs-12 col-sm-6" data-reviews="::reviews" data-property="computed_browser.Platform"></counter-chart>
    <counter-chart class="hidden-xs col-sm-12" data-reviews="::reviews" data-property="computed_location"></counter-chart>
  </div>

  <div class="row">
    <reviews-list class="col-xs-12" data-reviews="filteredReviews" data-limit-to="10"></reviews-list>
  </div>

</div>
