<div class="ratingsCounter" ng-if="ratingsCounter">
  <table class="counter table">
    <thead>
      <tr>
        <th>Rating</th>
        <th class="itemsHeader"># items</th>
      </tr>
    </thead>
    <tbody>
      <tr class="counterDetails" ng-repeat="ratingCount in ratingsCounter">
        <td class="rating"><span class="numberCircle">{{$index + 1}}</span>{{getRatingLabel($index + 1)}}</td>
        <td class="count">{{ratingCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
