<div class="reviewList">

  <div class="filters">
    <form class="col-xs-12 col-sm-3 searchBox">
      <input class="search form-control" name="search" type="text" ng-model="searchBox" placeholder="Search here!">
    </form>

    <reviews-filter class="col-xs-12 col-sm-9" data-reviews='reviews'></reviews-filter>
  </div>

  <div class="row">
    <table class="col-xs-12 reviews table dashboardBlock">
      <thead class="hidden-xs">
        <tr>
          <th>Rating</th>
          <th>Comment</th>
          <th>Browser</th>
          <th>Device</th>
          <th>Platform</th>
        </tr>
      </thead>
      <tbody>
        <tr class="reviewDetails" ng-repeat="review in reviews | filter:searchBox:review.comment">
          <td class="rating">
            <strong class="hidden-sm hidden-md hidden-lg">Rating: </strong>
            <span class="numberCircle">{{review.rating}}</span>
          </td>
          <td class="comment">
            <strong class="hidden-sm hidden-md hidden-lg">Comment: </strong>{{review.comment}}
          </td>
          <td class="browser">
            <strong class="hidden-sm hidden-md hidden-lg">Browser: </strong>{{review.computed_browser.Browser}} {{review.computed_browser.Version}}
          </td>
          <td class="device">
            <strong class="hidden-sm hidden-md hidden-lg">Device: </strong>{{getDevice(review.browser.userAgent)}}
          </td>
          <td class="platform">
            <strong class="hidden-sm hidden-md hidden-lg">Platform: </strong>{{review.computed_browser.Platform}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
