<div class="reviewFilters">
  <div class="buttonFilter" ng-click="updateRatingFilter(1)">1</div>
  <div class="buttonFilter" ng-click="updateRatingFilter(2)">2</div>
  <div class="buttonFilter" ng-click="updateRatingFilter(3)">3</div>
  <div class="buttonFilter" ng-click="updateRatingFilter(4)">4</div>
  <div class="buttonFilter" ng-click="updateRatingFilter(5)">5</div>
</div>
